@import "addons.scss";
@import "book-examples.scss";

@import url("//fast.fonts.com/t/1.css?apiType=css&projectid=e52198f4-e2bf-4f47-913d-d6a2747493f7");
@font-face{font-family:"Helvetica W01 Light";src:url("fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix");src:url("fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix") format("eot"),url("fonts/03805817-4611-4dbc-8c65-0f73031c3973.woff") format("woff"),url("fonts/d5f9f72d-afb7-4c57-8348-b4bdac42edbb.ttf") format("truetype"),url("fonts/05ad458f-263b-413f-b054-6001a987ff3e.svg#05ad458f-263b-413f-b054-6001a987ff3e") format("svg");}
@font-face{font-family:"HelveticaW01-RoundedBd";font-weight:bold;src:url("fonts/79e78e0d-1e3d-4298-8913-6f12cf008e7d.eot?#iefix");src:url("fonts/79e78e0d-1e3d-4298-8913-6f12cf008e7d.eot?#iefix") format("eot"),url("fonts/c280ced9-704c-46b2-a66a-aff7ee1627bf.woff") format("woff"),url("fonts/548e8c1d-b37a-43af-b197-a35e2f0c3d2f.ttf") format("truetype"),url("fonts/5e9b82e3-aa53-4064-b984-f49aa751081d.svg#5e9b82e3-aa53-4064-b984-f49aa751081d") format("svg");}
@font-face{font-family:"vaadin-icons";src:url("fonts/vaadin-icons/vaadin-icons.eot?#iefix");src:url("fonts/vaadin-icons/vaadin-icons.eot?#iefix") format("eot"),url("fonts/vaadin-icons/vaadin-icons.woff") format("woff"),url("fonts/vaadin-icons/vaadin-icons.ttf") format("truetype"),url("fonts/vaadin-icons/vaadin-icons.svg#vaadin-icons") format("svg");}

.book-examples {
    @include addons;
    @include book-examples;
}
