@import "../reindeer/reindeer.scss";

@mixin firsttheme {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  .v-label {
    color: green;
    font-size: 20pt;
    line-height: 20pt;
  }
}
